@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden; /* it only hides the scrollbar on the x axis */
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left; /* This is going to rotate the page from the top left corner, not from the side left. */
  transition: transform 0.5s linear; /* the transform property will be transition by this */
  width: 100vh;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg); /* will rotate the page 20 deg anticlockwise */
}

.circle-container {
  position: fixed; /* fixed in the left top corner */
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px; /* the circle-container was -100px so that it is shown half of it here, and after putting border radius to 50%, it will be quarter circle only. */
  width: 200px;
  border-radius: 50%;
  position: relative; /* we are going to position this relative so that we can position the buttons inside absolute. */
  transition: transform 0.5s linear; /* Same as the container roation */
}

.container.show-nav .circle {
  /* When we have show-nav class in the container, we need to rotate the circle so that we can see that close button. */
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

/* .circle button:focus {
  outline: none;
} */

.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}
.container.show-nav + nav li {
  /* When we have show-nav class in the container, we need to see the navigation bar below */
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed; /* It will fix the navigation bar to left corner while we scroll down. */
  bottom: 40px;
  left: 0;
  z-index: 100; /* to keep at top */
}
nav ul {
  list-style: none;
  padding-left: 30px;
}
nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}
.content img {
  max-width: 15%;
}

.content {
  max-width: 1000px; /* The max-width CSS property sets the maximum width of an element. It prevents the used value of the width property from becoming larger than the value specified by max-width. */
  margin: 50px auto;
}
.content h1 {
  margin: 0;
}
.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}
